@model PontoEletronico.Models.DTO.FuncionarioDto
@{
    ViewData["Title"] = "AddFuncionarioEmpresa";
}

<h1>Adicionar Novo Funcionário</h1>

<div class="row">
    <input asp-for="Cpf" />
    <button class="btn btn-secondary">Pesquisar</button>
</div>


 