@model PontoEletronico.Models.DTO.CpfEmpresaIdDto
@{
    ViewData["Title"] = "AddFuncionarioEmpresa";
}

<h1>Adicionar Novo Funcionário</h1>

<div class="row">
    <form asp-action="AddFuncionarioEmpresa">
        <label>Digite o CPF</label>
        <input asp-for="Cpf"/>
        <input type="hidden" asp-for="EmpresaId" />
        <button type="submit" class="btn btn-primary">Verificar</button>
    </form>
</div>


