@model PontoEletronico.Models.DTO.FuncionarioDto
@{
    ViewData["Title"] = "AddFuncionarioEmpresa";
}

<h1>Adicionar Novo Funcionário</h1>

<div class="row">
    <label>Digite o CPF</label>
    <input asp-for="Cpf"/>
    <button class="btn btn-primary">Verificar</button>
</div>


