@model PontoEletronico.Models.DTO.CpfEmpresaIdDto
@{
    ViewData["Title"] = "AddFuncionarioEmpresa";
}

<h2>Adicionar Novo Funcionário</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddFuncionarioEmpresa">
            <div class="form-group">
                <label class="control-label">Digite o CPF: (Somente Números)</label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
                <input type="hidden" asp-for="EmpresaId" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Verificar</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


